@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html{
  font-size: 80.5%;
  width: 100vw;
  height: 100vh;
}
body{
  background-color: rgb(242, 243, 246);
 
}
.searchBox{
  width: 100%;
  position: relative;
  margin-left: 40%;
}
.searchBox input{
  width: 300px;
  height: 40px;
  margin: 1rem;
  padding: 0.8rem 1.8rem;
}
.searchBox h1{
  margin: .8rem;
}

#loading{
  width: 100%;
  margin-left: 650px;
  font-size: 30px;

}


.updateBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 

}



/* .updateBox>h2 {
  position: relative;
  left: 220px;

} */

.card {
  border: 1px solid black;
  width: 50%;
  height:fit-content;
  font-family: 'Poppins', sans-serif;
  margin: 20px 20px;
  padding-left: 6px;

}

.card-button {
  display: flex;
  justify-content: space-between;
  margin: 20px 12px;
}

.card-button a {
  text-decoration: none;
  color: rgb(76, 76, 224);
  font-weight: 500;

}

#remove {
  color: red;
  font-size: 14px;
  font-weight: 600;

}

.paginationBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationBox button{
  padding: 0.8rem 2.2rem;
  border: none;
  background-color: rgb(50, 50, 243);
  color: rgb(240, 235, 235);
  font-size: 1.6rem;
  margin: 2rem;
}